/* reset */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  height: auto;
  width: 100%;
}

/* variables */
:root {
  --hue: 159;
  --dark: hsl(var(--hue), 41%, 10%);
  --prymary-color: hsl(var(--hue), 36%, 57%);
  --primary-color-darker: hsl(var(--hue), 25%, 43%);
  --secondary-color: hsl(var(--hue), 64%, 88%);

  --grey: hsl(0, 0%, 46%);
  --background1: hsl(0, 0%, 98%);
  --background2: hsl(0, 0%, 100%);

  --header-height: 4.5rem;

  /*  fonts
  font-family: 'DM Sans', sans-serif;
  font-family: 'Poppins', sans-serif; 
  */

  -webkit-font-feature-settings: antialiased;
  font-feature-settings: antialiased;
}

/* base */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background1);
  color: var(--grey);
  font: 400 1rem 'DM Sans', sans-serif;
}

.title {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--dark);
  -webkit-font-smoothing: auto;
}

footer {
  background: var(--prymary-color);
  color: var(--background1);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--background1);

  transition: 0.5s;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  background: var(--secondary-color);
}

#header.scroll span,
#header.scroll .icon-menu {
  color: white;
  transition: 0.5;
}

/* navigation */
nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: 0.3s;
  position: relative;
}
nav ul li a:hover {
  color: var(--prymary-color);
}
nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--prymary-color);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;

  top: -20rem;
  transform: 0.2s;
  transition: 0.2s;

  width: 100%;
  height: 1px;
}
nav .menu ul {
  display: none;
}

/* mostra menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--background1);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--prymary-color);
  font-size: 1.5rem;
  cursor: pointer;
}
nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 1.5rem;
  /* transicao bacana */
  top: -1.5rem;
  transition: 0.2s;
}
nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}
/* logo */
.logo1 {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--dark);
}
.logo1 span {
  font-family: 'Poppins', sans-serif;
  color: var(--prymary-color);
}

.logo2 {
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
  font-weight: 700;
  font-size: 1.31rem;
}
.logo2 span {
  font-family: 'Poppins', sans-serif;
  color: var(--background1);
}

main {
  margin-top: calc(var(--header-height) + 2rem);
}
.destak {
  color: var(--prymary-color);
}
.icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0 0.625rem 0 0;
}

.divider-1 {
  height: 1px;

  /* Gradient */
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

.divider-2 {
  height: 1px;

  /* Gradient */
  /* background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34) 100%,
    hsla(var(--hue), 36%, 57%, 1) 0%
  ); */

  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.button {
  display: inline-flex;
  align-items: center;
  color: var(--background1);
  height: 3.5rem;
  background: var(--prymary-color);
  padding: 0 2rem;
  border-radius: 0.19rem;
  font: 500 1rem 'DM Sans', sans-serif;
  transition: background 0.3s;
}

.button:hover {
  background: var(--primary-color-darker);
}

.section {
  padding: 5rem 0;
  min-height: 15rem;
}

.section .title {
  margin-bottom: 1rem;
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--prymary-color);
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#home {
  overflow: hidden;
}
#home .container {
  margin: 0;
}

#home .text {
  margin: 0 1.5rem;
  text-align: center;
}

#home .image {
  position: relative;
}
#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--secondary-color);
  position: absolute;
  top: -16.79%;
  left: 13.73%;
  z-index: 0;
}
#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text .title {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

/* ====================about */

#about {
  background: var(--background2);
  overflow: hidden;
}
#about .container {
  margin: 0;
  /* background-color: var(--background2); */
}

#about .text {
  margin: 0 1.5rem;
  text-align: left;
}

#about .image {
  position: relative;
}
#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--secondary-color);
  position: absolute;
  top: -8.39%;
  right: 31.11%;
  z-index: 0;
}
#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text .title {
  margin-bottom: 1rem;
}

#about .text p {
  margin-bottom: 2rem;
}

/* ==================== services */
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.62rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--prymary-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--prymary-color);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* ==================== testimonials */

.testimonials {
  background: white;
}

.testimonial {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 2rem;
  padding: 2rem;
}
.testimonial img {
  width: 2rem;
  height: 2rem;
  border-radius: 1000px;
}

.testimonial p {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--dark);
  margin-bottom: 1.5rem;
}
.testimonial blockquote p {
  position: relative;
}

.quote::first-letter {
  color: var(--prymary-color);
  font: 700 3rem Georgia, 'Times New Roman', Times, serif;

  top: -2rem;
  position: absolute;
}
